<%= render "welcome_bar" %>

<% artists_array = artists_array_from_user(0) %>

<div class="playlist_header">
  <span class="playlist_header_column" id="title_header">Title</span><span class="playlist_header_column" id="artist_header">Artist</span>
</div>
<div class="panel-group playlist_area" id="accordion" role="tablist" aria-multiselectable="true">
  <% for i in 0..19 %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= i %>">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
            <span class="playlist_item" id="playlist_title"><%= first_track_from(artists_array, i).name %></span><span class="playlist_item" id="playlist_artist"><%= name_of_artist_from(artists_array, i) %></span>
          </a>
        </h4>
      </div>
      <div id="collapse<%= i %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= i %>">
        <div class="panel-body">
          <iframe src="https://embed.spotify.com/?uri=<%= first_track_from(artists_array, i).uri %>" width="80px" height="80" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
    </div>
  <% end %>
</div>
